{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Static Generic Files Connection</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/c1.css'%}">
</head>
<body>
    <center>
        <h1>Welcome!!</h1>
        <h2>Once deception may be others reality</h2>
        <h2>One must see through deception</h2>
        <img src="{% static 'images/1st.jpg'%}">
    </center>
    
</body>
</html>